<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Titillium+Web:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap"
        rel="stylesheet">
    <script src="../javascript/login.js"></script>
    <title>BaSP-A2022-Etapa-1-Login</title>
</head>

<body>
    <header class="header-container">
        <h1 class="header-son-h1">
            Trackgenix
        </h1>
        <div class="img-container">
            <img src="../assets/img/Iconomenu.png" alt="Icon-menu">
        </div>
    </header>
    <main>
        <div class="img-container-login">
            <img src="../assets/img/LOGO-RR 1.png" alt="Icon-radium">
        </div>
        <div class="container-div-login">
            <div class="container-div-login2">
                <div>
                    <p class="styles-div-p">
                        Log In
                    </p>
                </div>
                <div>
                    <form class="container-form-login">
                        <input class="input-login" type="email">
                    </form>
                </div>
                <div>
                    <form class="container-form-login">
                        <input class="input-login" type="password">
                    </form>
                </div>
                <div>
                    <form class="container-form-login2">
                        <input type="checkbox">
                        <label class="label-styles">Remember me</label>
                    </form>
                </div>
            </div>
        </div>
        <div class="container-button-login">
                <div class="container-button-son">
                    <button class="button-son">
                        Back
                    </button>
                </div>
                <div class="container-button-son2">
                    <button class="button-son2">
                        Log In
                    </button>
                </div>
        </div>
    </main>
</body>

</html>