<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/signup.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Titillium+Web:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap"
        rel="stylesheet">
    <script src="../javascript/login.js"></script>
    <title>BaSP-A2022-Etapa-1-Signup</title>
</head>

<body>
    <div>
        <header class="header-container">
            <h1 class="header-son-h1">
                Trackgenix
            </h1>
            <div class="img-container">
                <img src="../assets/img/Iconomenu.png" alt="Icon-menu">
            </div>
        </header>
        <div class="container-h2">
            <h2>
                Welcome to Trackgenix!
            </h2>
        </div>
        <div class="container-h3">
            <h2>
                Register account
            </h2>
        </div>
        <main class="main-container">
            <div class="main-container-son">
                <div class="main-son">
                    <p class="p-styles">Name</p>
                    <input class="input-styles" type="text">
                </div>
                <div class="main-son">
                    <p class="p-styles">Last Name</p>
                    <input class="input-styles" type="text">
                </div>
                <div class="main-son">
                    <p class="p-styles">Email</p>
                    <input class="input-styles" type="email">
                </div>
                <div class="main-son">
                    <p class="p-styles">Phone number</p>
                    <input class="input-styles" type="email">
                </div>
                <div class="main-son">
                    <p class="p-styles">DNI</p>
                    <input class="input-styles" type="number">
                </div>
                <div class="main-son">
                    <p class="p-styles">City</p>
                    <input class="input-styles" type="text">
                </div>
                <div class="main-son">
                    <p class="p-styles">Birth Date</p>
                    <input type="date">
                </div>
                <div class="main-son">
                    <p class="p-styles">Sex:</p>
                    <input type="radio" name="Encuesta">
                    <label>Male</label>
                    <input type="radio" name="Encuesta">
                    <label>Female</label>
                    <input type="radio" name="Encuesta">
                    <label>Other</label>
                </div>
                <div class="button-container">
                    <div class="button-style">
                        <button class="input-button-styles">Back</button>
                    </div>
                    <div class="button-style">
                        <button class="input-button-styles2">Sign Up</button>
                    </div>
                </div>
            </div>
        </main>
</body>

</html>